{#
    Breadcrumb navigation partial template.
    
    Usage:
        {% include "partials/breadcrumbs.html" %}
    
    Expected context:
        breadcrumbs: list[BreadcrumbItem] - List of breadcrumb items
                     Each item has: label, url (None for current page)
    
    Note: Only shows items with URLs (excludes current page)
#}
{% if breadcrumbs %}
{% set nav_items = breadcrumbs | selectattr('url') | list %}
{% if nav_items %}
<nav class="breadcrumb-nav" aria-label="Breadcrumb">
    <ol class="breadcrumb-list">
        {% for item in nav_items %}
        <li class="breadcrumb-item">
            <a href="{{ item.url }}" class="breadcrumb-link">{{ item.label }}</a>
        </li>
        {% endfor %}
    </ol>
</nav>
{% endif %}
{% endif %}
