Package: pulldb-client
Version: 0.2.0
Section: admin
Priority: optional
Architecture: amd64
Maintainer: PestRoutes Engineering <engineering@pestroutes.com>
Pre-Depends: software-properties-common
Depends: bash, adduser
Homepage: https://github.com/CharlesHandshy/pullDB
Description: pullDB client CLI
 The standalone client CLI for pullDB.
 Installs to /opt/pulldb.client as the pulldb_service user.
 Python 3.12 is automatically installed from deadsnakes PPA during setup.
